body {
	font-family: 'Roboto', sans-serif;
	background: url(../images/bg.svg);
	background-size: 350px;
	background-color:#fff;

}

#main {
	background-color: rgba(255,255,255,0.8);
	border-radius: 0.5rem;
	height: auto;
	margin: 0 auto;
	margin-top: 5%;
	padding: 2rem;
	padding-bottom: 0;
	text-align: center;
	vertical-align: middle;
	width: 80%;
	max-width: 500px;
	-moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

#logo{
	width: 50%;
	min-width: 180px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 3rem;
}

form{
	text-align: left;
}

form label{
	color:#5d5d5d;
	font-size: 20px;
	font-weight: 500;
}	


form .form-dps{
	border-style:none;
	width: 95%;
	height: 3rem;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 5px 0 5px 15px;
	background-color: #f7f7f7;
	-moz-box-shadow:    inset 0 0 7px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
   box-shadow:         inset 0 0 7px rgba(0,0,0,0.3);
}

form .form-dps:active, .form-dps:focus{
	outline: none;
	color: #fff;
	background-color: #3e97cf;
	font-weight: 100;
}

form .form-dps placeholder{
	color: #ff99ee;
}




form #send{
	text-align: center;
	margin: auto;
}

form #send input{
	width: 99%;
	background: #0054a6; /* Old browsers */
	background: -moz-linear-gradient(top,  #0054a6 1%, #002960 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0054a6), color-stop(100%,#002960)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0054a6 1%,#002960 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0054a6 1%,#002960 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0054a6 1%,#002960 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0054a6 1%,#002960 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0054a6', endColorstr='#002960',GradientType=0 ); /* IE6-9 */

	border:none;
	border-radius: 5px 5px 0 0;
	font-size: 20px;
	color: #fff;
	font-weight: 100;
	margin-top: 15px;
	padding: 22px 0;
	outline: none;
	
}

form #send input:hover{
	background: #3e97cf; /* Old browsers */
	background: -moz-linear-gradient(top,  #3e97cf 0%, #0054a6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e97cf), color-stop(100%,#0054a6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e97cf 0%,#0054a6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e97cf 0%,#0054a6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e97cf 0%,#0054a6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3e97cf 0%,#0054a6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e97cf', endColorstr='#0054a6',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}





#dps{
	width: 100%;
	margin: 40px 0 auto 0;
	text-align: center;
}

#dps h3{
	font-size: 17px;
	font-weight: 300;
	color:#5d5d5d;
	margin: 0;
	margin-top: -10px;
}

#dps img{
	width: 40%;
	max-width: 200px;
}

hr{
	width: 10%;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #d8eaf5;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;    
}

.bordered th {
    background-color: #0194d3;
 	letter-spacing: 1px;    
    border-top: none;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
   
   /* 
   -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
	border-radius: 0 6px 0 0
	*/
}
button.validate, button.logout{
	background-color: #0054a6;
	border: none;
	border-radius: 0.25rem;
	font-size: 14px;
	padding:7px 20px;
	color: #fff;
	font-weight: 100;
}

button.validate:hover {
	background-color: #0194d3;
}

button.validate:active,
button.validate:focus{
	outline:none;
	box-shadow: 0 0 5px #0194d3;
}

button.logout{
	background-color: #aa171d;
}

button.logout:hover{
	background-color: #909090;
}

button.logout:active,
button.logout:focus{
	outline:none;
	box-shadow: 0 0 5px #000;
}

.info-top{
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
	text-align: right;

}

ul{
	margin:10px;
}

ul h3{
	font-size: 16px;
	margin-right: 10px;
	font-weight: 300;
}

li{
	display: inline-block;
	list-style: none;
}
