
		<div class="info-top">
			<ul>
				<li><h3>{{ email }}</h3></li>
				<li><button ng-click="logOut()" class="logout">Cerrar sesión</button></li>
			</ul>
		</div>
		<table class="bordered">
			<thead>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Detalle</th>
				<th></th>
			</thead>
			<tr class="row" ng-repeat="product in products | filter:{dpsValidated:false}">
				<td> {{product.title + ' ' + product.dpsValidated}}</td>
				<td> {{getType(product.type)}}</td>
				<td> {{product.description}}</td>
				<td><button ng-Click="openValidate(product.id)" class="validate">Validar</button></td>
			</tr>
			
		</table>
