		<div class="info-top">
			<ul>
				<li><h3>{{ email }}</h3></li>
				<li><button ng-click="logOut()" class="logout">Cerrar sesión</button></li>
			</ul>
		</div>
		<table class="bordered">
			<thead>
				<th>UserId</th>
				<th>Name</th>
				<th>MobileNumber</th>
				<th>City</th>
				<th>Department</th>
				<th></th>
			</thead>
			<tr class="row" ng-repeat="user in users">
				<td> {{user.UserId}}</td>
				<td> {{user.Name}}</td>
				<td> {{user.MobileNumber}}</td>
				<td> {{user.City.Name}}</td>
				<td> {{user.Department.Name}}</td>
				<td><button ng-Click="openValidate($index)" class="validate">Validar</button></td>
			</tr>
		</table>
