
	<div id="form-comp">
		<div class="form-valid">
			<br>
			<br>
			<div id="logo">
				<img src="images/logo.svg" alt="Se le tiene">
			</div>
			<form class="validando" action="">
				<div>
					<label>Nombre</label>
					<br>
					<input ng-model="user.Name" type="name" placeholder=" Ej. Pepito Pérez" />
				</div>
				<div>
				  <label>Email</label>
				  <br>
				  <input ng-model="user.Email" type="email" placeholder=" ejemplo@mail.com" />
				</div>
				<div>
				  <label>Teléfono</label>
				  <br>
				  <input ng-model="user.PhoneNumber" type="tel" placeholder=" Ej. 7 6357890" />
				</div>
			</form>
			
			<form class="validando" action="">
				<div>
				  <label>Celular </label>
				  <br>
				  <input ng-model="user.MobileNumber" type="tel" placeholder=" Ej. 300 555 55 55" />
				</div>
				<div>
					<label>Departamento</label>
					<br>
					<select ng-model="Department" ng-change="getCities(Department.id); DepartmentId = Department.id " class="combo"name="thelist" onChange="combo(this, 'theinput')" onMouseOut="comboInit(this, 'theinput')" ng-options="department.name for department in Departments" ng-options="department.name for department in Departments">
						<option selected >--Seleccionar--</option>
											
					</select>
				</div>
				<div>
				  <label>Ciudad</label>
				  <br>
			  	  <select ng-model="City"  class="combo"name="thelist" onChange="combo(this, 'theinput')" ng-change="user.CityId=City" onMouseOut="comboInit(this, 'theinput')" ng-options="city.name for city in Cities" ng-options="city.name for city in Cities">
						<option selected >--Seleccionar--</option>				
					</select>
			  	</div>
			</form>
		</div>
		<hr>

		<div class="form-valid" id="ofrece">
			<form class="validando" action="">
				<div class="oferta">
					<label>Oferta</label>
					<br>
					<input ng-model="product.title" type="name" placeholder=" Ej. Empanadas" />
				</div>
			</form>
			<form class="validando" id="subir-div" action="">
				<div class="oferta">
					<label>Producto o Servicio</label>
					<br>
					<select ng-model="product.type" class="combo"name="thelist" onChange="combo(this, 'theinput')" onMouseOut="comboInit(this, 'theinput')" >
						<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
					</select>
				</div>
			</form>
			<form class="send-validate validando" action="">
				<div class="description">
					<label>Descripcion (Incluye certiciaciones, cursos y horarios)</label>
					<br>
					<input ng-model="product.description" type="name" placeholder=" Ej. Empanadas" />
				</div>
			</form>
		</div>
		
		<div id="send" class="send-validate">
			<input type="submit" value="Validar" ng-click="validate();">
		</div>

	</div>
